.worldwide{
    background-color: #d5d4d1aa;
}



.studios{
    width: 700px;
    padding: 60px 70px;
}
.studios h2{
    font-weight: bold;
}
.studios h2 >samp{
    font-weight: 400;
}
.studios>p{
    margin: 30px 0;
    font-size: 18px;
}

.card-img{
    display: flex;
    padding: 0 70px;
    cursor: pointer;
}



.imges{
    margin: 0px 20px;
}
.imges>img{
    width: 260px;
}