.worldwide{
    background-color: #bec7cfb1;
}



.studios{
    width: 700px;
    padding: 60px 70px;
}
.studios>p{
    margin: 30px 0;
    font-size: 18px;
}

.card-img{
    display: flex;
    padding: 0 70px;
    cursor: pointer;
}



.imges{
    margin: 0px 20px;
}
.imges>img{
    width: 260px;
}