.continer{
    background-color: #cac6ba6e;
    padding: 70px;
}



.upgrades{
    
    width: 600px;
    margin-bottom: 40px;
}


.text-continer{
    display: flex;
    justify-content: space-between;
    
}

.text{
    margin: 50px 0;
    width: 300px;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.text>p{
    font-size: 19px;
}