.contenrs{
    background-color: #2a2929;
    color: #ffffff;
    display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
}

.contenrs-text-h1{
    font-family: 'Times New Roman', Times, serif;
}
.contenrs-text-h1:hover{
    color: tomato;
    cursor: pointer;
}


.contenrs-text{
    padding: 190px 70px;
    width: 600px;
}
.contenrs-text>h1{
    font-weight: 300;
    margin-bottom: 25px;
}


.button{
    padding: 17px 120px;
    margin: 30px 0;
    font-size: 19px;
    border: none;
}