.perfect{
    background-color: #cac6ba6e;
}



.portfolio{
    padding: 150px 70px;
    width: 600px;
}
.portfolio>h2{
    font-size: 25px;
    color: #000;
    margin: 30px 0;
}
.portfolio>p{
    font-size: 19px;
    margin: 30px 0;
}